* { margin:0; padding:0; box-sizing:border-box; }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    height: 100%; overflow: hidden;
    text-align: justify;
}


/* ------------------------------------------------------------------------*/
/* Grid layout */
/* ------------------------------------------------------------------------*/
#grid-container {
    display: grid;
    grid-template-areas:
        'header header'
        'main right'
        'vis right';
    grid-gap: 10px;
    height: 100vh; 
    background-color: #e8e8e8;
    padding: 10px;
    grid-template-rows: 50px 2fr 1fr; 
    grid-template-columns:70fr 30fr; 
}
#grid-container > div {
    background-color: white;
    padding: 10px;
}
#header { 
    grid-area: header;
    padding-top: 0px !important;
}
#textPanel { /*nested grid panel*/
    grid-area: main; 
    display: grid;
    grid-template-areas: 'textA textB';
    grid-template-rows: 1fr; 
    grid-template-columns:30fr 70fr; 
    grid-gap: 20px;
    overflow: auto;
}
#textAPanel{
    grid-area: textA;
    overflow: auto;
}
#textBPanel{
    grid-area: textB;
    overflow: auto;
}
#vis{
    grid-area: vis; 
}
#details { 
    grid-area: right; 
    overflow: auto;
    padding : 10px;
}
#sourcecodeContainer {
    padding: 0px;
    margin: 0px;
    overflow: visible;
    background-color: white;
}
#sourcecode {
    font-size: 11px;
}

/* ------------------------------------------------------------------------*/
/* Base tags */
/* ------------------------------------------------------------------------*/

p, div.p { /* div.p is required if paragraphs (p) should contain nested div elements*/
    margin-top: 6pt;
    margin-bottom: 6pt;
}

h3 {
    padding-bottom: 6pt;
}

h4{
    display: inline;
}

/* ------------------------------------------------------------------------*/
/* Color Legends */
/* ------------------------------------------------------------------------*/

.couplingMetric.clickable{
    border-bottom: 2px solid #238b45;
    display: inline-block;
}
.complexityMetric.clickable{

    border-bottom: 2px solid #2b8cbe;
    display: inline-block;
}
.cohesionMetric.clickable{
    border-bottom: 2px solid #c51b8a;
    display: inline-block;
}
.inheritanceMetric.clickable{
    border-bottom: 2px solid #88419d;
    display: inline-block;
}
.BSLegend{
    border-bottom: 2px solid black;
}

.wmc{
    border-bottom: 2px solid #2b8cbe;
}
.max_cc{
    border-bottom: 2px solid #7bccc4;
}
.cbo{
    border-bottom: 2px solid #238b45;
}
.ca{
    border-bottom: 2px solid #66c2a4;
}
.ce{
    border-bottom: 2px solid #b2e2e2;
}
.lcom{
    border-bottom: 2px solid #c51b8a;
}
.lcom3{
    border-bottom: 2px solid #fa9fb5;
}
.noc{
    border-bottom: 2px solid #8c96c6;
}
.dit{
    border-bottom: 2px solid #88419d;
}

/* ------------------------------------------------------------------------*/
/* Tooltips */
/* ------------------------------------------------------------------------*/

.ui-tooltip-content {
    font-size:10pt;
    color:white;
}
.ui-tooltip{
    background: #666666;
}

.jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: #666666;
  }

/* ------------------------------------------------------------------------*/
/* Parallel Coordinates */
/* ------------------------------------------------------------------------*/

#parallelplot text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 12px !important;
    text-shadow: 0 0 1px white;
}

/* ------------------------------------------------------------------------*/
/* Other -- TODO: sort and refactor properly */
/* ------------------------------------------------------------------------*/

#file-upload {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    float: right;
    color: black;
}

/* .vis div {
    position: absolute;
    width: 68%;
    top: 80%;
    left:0;
 } */

 #captionPP{
    /* position: absolute; */
    float: left;
    width: 68%;
    top: 100%;
    left:0;
    font-size:12px;
 }

 #captionSP{
    /* position: absolute; */
    float: right;
    width: 30%;
    left: 68%;
    top:100%;
    font-size:12px;
 }

#title{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
}
#subtitle{
    font-size: 15px;
    font-style: italic;
}
#parallelplot {
    width: 69%; 
    height: 85%; 
    float: left;
}
.infoIcon:hover{
    cursor: pointer;
    color: #666666;
}

.bar_1 .bar {
    fill: #969696;
}

.bar_2 .bar {
    fill: #969696;
}

.bar_3 .bar {
    fill: #969696;
}

.bar_4 .bar{
fill: #969696;
}

.bar_5 .bar{
fill: #969696;
}
.bar_6 .bar{
fill: #969696;
}
.bar_7 .bar{
fill: #969696;
}
.bar_8 .bar{
fill: #969696;
}
.bar_9 .bar{
fill: #969696;
}
.bar_10 .bar{
fill: #969696;
}
.bar_11 .bar{
fill: #969696;
}
.bar_12 .bar{
fill: #969696;
}
.bar_13 .bar{
fill: #969696;
}
.bar_14 .bar{
fill: #969696;
}
.bar_15 .bar{
fill: #969696;
}
.bar_16 .bar{
fill: #969696;
}
.bar_17 .bar{
    fill: #969696;
}

.clickable {
    color: black;
    border-bottom: 1px solid black;
}

.clickable:hover {
    cursor: pointer;
    color: #666666;
}

a:link {
    text-decoration: none;
}

.collapsible {
background-color: white;
color: black;
cursor: pointer;
padding: 1px;
border: none;
text-align: left;
outline: none;
font-size: 12px;
}

.active{
background-color: white;
}
.collapsible:hover {
background-color: #777;
}

.content {
padding: 5px 5px 5px 5px;
font-size: 12px;
overflow: auto;
border: 1px solid gray;
margin-top: 2px;
}

.collapsible:after {
content: '[\002B]';
color: black;
margin-left: 0px;
}

.active:after {
content: "[\2212]";
}

/*can change the following css attributes for these classes specified in mysparklines.css*/
div.sl {margin-top: 0px; margin-bottom: 0px; padding-top: 5px!important;}  /*applied to graph containers*/
div.pckg>span.slcls {margin: 0 0 0 1px;}      /*applied to each bar*/
div.pckg>div.lbl {border-left: solid 1px #000; height: 10px;}  /*applied to package labels container*/
div.pckg>div.lbl>span {font-size: 10px;}  /*applied to package labels text*/
div.pckg:hover>div.lbl>span {font-weight: bold;}  /*applied to each package label on hover over package div*/
/*can change this class or use another*/
.hl {background-color: #ccc;} /*applied to bars on highlight*/

::-webkit-scrollbar {
width: 0.5em;
height: 0.5em;
}
::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
background-color: lightgrey;
outline: 1px solid slategrey;
}

.educationalDescriptions{
    border-bottom: 1px solid black;
}

.educationalDescriptions{
    border-bottom: 1px dotted black;
}

.className:hover, .educationalDescriptions:hover {
    cursor: pointer;
    background-color: #ffe68e;
}
#dynamicCaption{
    background-color: #ffe68e;
}

/* ------------------------------------------------------------------------*/
/* Parallel Coordinates */
/* ------------------------------------------------------------------------*/
.text-center {
	text-align: center;
	margin: 6px 0;
}

#example_container {
    width: 68%; 
    height: 100%;
	/* position: relative; */
	margin: auto;
}

#example {
    width: 68%; 
    height: 100%;
	position: relative;
}

/* ------------------------------------------------------------------------*/
/* Scatter plot */
/* ------------------------------------------------------------------------*/

#scatterplot {
    width:30%; 
    height:85%;
    float: right;
 }

.axis {
    font: 12px;
}

.label {
    font: 16px;
}

.tooltip {
    position: absolute;
    max-width: 250px;
    max-height: 64px;
    padding: 4px;
    background: #666666;
    pointer-events: none;
    font-size: 12px;
    color:white;
}

.annotation-note {
    cursor: pointer;
}

.text-center {
    text-align: center;
    margin: 5px;
    height: 10px;
    width: 280px;
   
}
#controls{
    z-index: 10;
    text-align: left;
    display:inline-block;
    margin: 5px;
    height: 30px;
    width: 280px;
}

#chart_container {
    width: 100%;
    height: 80%;
    position: relative;
    margin: 0px;
}

#chart {
    width: 100%;
    height: 100%;
    position: absolute;
}